<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de usurios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input [(ngModel)]="buscador" placeholder="Introduzca los datos para filtrar">

  </ion-input>
  <ion-grid>
    <ion-row>
      <ng-container *ngFor="let usuario of usuarios | async">
        <ion-col *ngIf="buscador == '' || usuario.first_name.startsWith(buscador)" size-xl="6" size-lg="6" size-md="4" size-sm="6" size-xs="12">
          <ion-card>
            <ion-card-content>
              <h1>{{ usuario.first_name }} {{ usuario.last_name }}</h1>
              <h3>Género: {{ usuario.gender }}</h3>
              <h3>Email: {{ usuario.email }}</h3>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>
</ion-content>
